# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "23,53 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: cljoly
          template: classic
          filename: github-metrics.*
          base: ""
          config_display: large
          config_timezone: UTC
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
      - name: Indepth analysis
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-notable-indepth.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_notable: yes
          plugin_notable_indepth: no
          plugin_notable_repositories: yes

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_languages_threshold: 2%
          plugin_languages_limit: 8
          filename: github-general-metrics.*
          
      - name: Full history calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-calendar-flat-full.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 2

      - name: Repositories traffic
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-traffic.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: repositories
          plugin_traffic: yes

  stackoverflow-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: cljoly
          template: classic
          filename: stackoverflow-metrics.*
          base: ""
          config_display: large
          config_timezone: UTC

          plugin_stackoverflow: yes
          plugin_stackoverflow_limit: 4
          plugin_stackoverflow_lines_snippet: 0
          plugin_stackoverflow_lines: 0
          plugin_stackoverflow_sections: ""
          plugin_stackoverflow_user: 4253785
          repositories_forks: yes

  misc-metrics:
    runs-on: ubuntu-latest
    steps:
    - name: News from my blog
      uses: lowlighter/metrics@latest
      with:
        filename: metrics-plugin-rss-myblog.svg
        token: NOT_NEEDED
        base: ""
        plugin_rss: yes
        plugin_rss_source: https://cj.rs/blog/index.xml
        plugin_rss_limit: 4
