# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "13 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: cljoly
          template: classic
          filename: github-metrics.*
          base: ""
          config_display: large
          config_timezone: UTC
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
      - name: Indepth analysis
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-notable-indepth.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_notable: yes
          plugin_notable_indepth: no
          plugin_notable_repositories: yes

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          plugin_languages: yes
          plugin_languages_threshold: 2%
          plugin_languages_limit: 8
          filename: github-general-metrics.*

      - name: Full history calendar (SVG)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-calendar-flat-full.*
          config_output: svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 5
      - name: Full history calendar (PNG)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-plugin-calendar-flat-full.*
          config_output: png
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 5
